.contact {
  max-width: 600px;
  margin-left: 200px;

  &_title {
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 10%;
  }

  &_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &_row {
    display: flex;
    gap: 20px;
  }

  &_input {
    flex: 1;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.9);

    &::placeholder {
      color: rgb(9, 9, 9);
    }
  }

  &_card {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #050505;
  }

  &_textarea {
    width: 100%;
    padding: 15px;
    border: none;
    background: transparent;
    resize: vertical;
    font-size: 18px;
    font-family: inherit;
    letter-spacing: 20%;
  }

  &_subtext {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border: 1px solid #fefafa;
    cursor: pointer;
    height: 48px;
    width: 200px;
    background: transparent;
  }

  &_rihgt-img {
    height: 905px;
    width: 532px;
  }
}