.contact {
  max-width: 600px;
  margin-left: 10px;
  margin-bottom: 40px;

  &_title {
    font-size: 32px;
    color: white;
    letter-spacing: 2px;
    margin-bottom: 50px;
  }

  &_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
  }

  &_row {
    display: flex;
    gap: 20px;
  }

  &_input {
    flex: 1;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.9);

    &::placeholder {
      color: rgb(9, 9, 9);
    }
  }

  &_card {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;

    border: 1px solid #050505;
    width: 480px;
  }

  &_textarea {
    width: 100%;
    padding: 15px;
    border: none;
    background: transparent;
    resize: vertical;
    font-size: 18px;
    font-family: inherit;
    letter-spacing: 2px;
  }

  &_subtext {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    height: 48px;
    width: 200px;
    background: transparent;
    margin-top: 50px;
  }
}

.container_rihgt-img {
  height: 905px;
  width: 532px;
  margin-top: 100px;
}

@media (max-width: 540px) {
  .contact {
    margin-left: 0;
    margin-bottom: 30px;
    max-width: 100%;

    &_title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    &_form {
      width: 100%;
    }

    &_row {
      flex-direction: column;
      gap: 10px;
    }

    &_card {
      width: 100%;
    }

    &_textarea {
      font-size: 16px;
    }

    &_subtext {
      width: 100%;
      max-width: 200px;
      margin-top: 30px;
    }
  }
}